<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>706361866411-hmgher148qgtfaef1lo5rc5n4sv7es8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706361866411-hmgher148qgtfaef1lo5rc5n4sv7es8l</string>
	<key>API_KEY</key>
	<string>AIzaSyB4h6YD2FqON9Yo8fpI7TClKPDLDySry4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>706361866411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taksykraft.Expenses</string>
	<key>PROJECT_ID</key>
	<string>taksykraft-57198</string>
	<key>STORAGE_BUCKET</key>
	<string>taksykraft-57198.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706361866411:ios:4cff753af17b3149</string>
	<key>DATABASE_URL</key>
	<string>https://taksykraft-57198.firebaseio.com</string>
</dict>
</plist>